src/iac/types/CloudFormationResourceSpecification.js
src/iac/types/CloudFormationResourceSpecification.d.ts
iac/types/CloudFormationResourceSpecification.js
iac/types/CloudFormationResourceSpecification.d.ts
